.cat-box {
  width: 240px;
  padding-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.cat-text {
  font-family: Helvetica Neue,Helvetica,\\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3,Hiragino Kaku Gothic Pro,\\30E1\30A4\30EA\30AA,Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",arial,sans-serif;
  color: #555;
  font-size: 16px;
  margin-top: 5px;
}
.cat-image {
  width: 100%;
  border-radius: 10px;
}
.feed-column {
  width: 280px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.feed {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
